<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="win" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="winrt45" />
  <package id="Rx-Core" version="2.0.21114" targetFramework="win" />
  <package id="Rx-Interfaces" version="2.0.21114" targetFramework="win" />
  <package id="Rx-Linq" version="2.0.21114" targetFramework="win" />
  <package id="Rx-Main" version="2.0.21114" targetFramework="win" />
  <package id="Rx-PlatformServices" version="2.0.21114" targetFramework="win" />
  <package id="Win8Controls" version="0.9.2" targetFramework="win" />
  <package id="Win8nl" version="1.0.7" targetFramework="win" />
  <package id="WinRtBehaviors" version="1.0.2" targetFramework="win" />
</packages>